@charset "UTF-8";

body {
  font-family: "Noto Serif JP", serif;
}

body {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #555;
}

a {
  text-decoration: none;
  color: #555;
}

li {
  list-style: none;
}

.top {
  width: 100%;
  max-width: 1425px;
  height: 200px;
}

.top_all {
  display: flex;
  justify-content: space-between;
  padding: 0 1%;
}

.top_all a :hover {
  opacity: 0.7;
}

.company_logo {
  width: 150px;
}

.top_all ul {
  display: flex;
  align-items: center;
}

.top_all ul li {
  margin-right: 50px;
  
}

.top_all ul li a {
  font-size: 20px;
  font-weight: 400;
}

.top_all ul li a:hover {
  color: rgb(197, 224, 223);
}

.color {
  color: tan;
}

.top_all ul li a:hover {
  color: rgb(197, 224, 223);
}

.top_img {
  width: 100%;
  position: relative;
  
}

.top_txt {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%);
}

.top_txt h1 {
  font-size: 50px;
  color: #fff;
  margin-top: 40px;
}
.contact_inner {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact_inner h2 {
  text-align: center;
  font-size: 50px;
}

.contact_inner p {
  margin-top: 30px ;
  font-size: 20px;
}

.contact_inner a {
  color: #9BD0E7;
  padding: 1% 13%;
  font-size: 20px;
  margin-top: 50px;
  border: #9BD0E7 1px solid;
}

.contact_inner a:hover {
  opacity: 0.7;
}

.footer_all {
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: 50px;
  display: flex;
}

.footer_txt {
  position: absolute;
  top: 0;
  left: 10%;
  z-index: 2;
}

.footer_txt a:hover {
  opacity: 0.7;
}

.footer_all img {
  width: 200px;
}

.footer_list {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  background-color  : #EEEEEE;
}

.footer_item {
  display: flex;
  float: right;
  height: 100%;
}

.footer_item1 {
  border-left: solid 1px #CBCCCB;
  margin-right: 100px;
  padding: 20px 30px 0 30px;
}

.footer_item2 {
  border-left: solid 1px #CBCCCB;
  margin-right: 100px;
  padding: 20px 30px 0 30px;
}


.footer_item ul li {
  margin-top: 20px;
}

.copyright {
  float: right;
}

.news_all {
  width: 100%;
  margin-top: 50px;
 display: flex;
 justify-content: space-between;
}

.news_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  margin: 0 auto;
   border-top: 1px solid #CBCCCB;
  border-bottom: 1px solid #CBCCCB;
}

.news_main h4 {
  color: #6EBCDD;
  font-size: 30px;
  margin: 30px auto;
}

.news_main p {
  line-height: 3;
  margin-bottom: 30px;
}

.news_side {
  padding-top: 20px;
  margin-right: 50px;
   border-top: 1px solid #CBCCCB;
  border-bottom: 1px solid #CBCCCB;
}

.news_side ul li {
  margin-top: 10px;
}